body {
  background-color: #fcfefe;
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  border: 5px solid #d0dbdb;
  border-radius: 10px;
  color: #54acac;
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
}

.city-input {
  background-color: transparent;
  border: 2px solid #db95a5;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.search-button {
  background-color: transparent;
  border: 2px solid #db95a5;
  border-radius: 20px;
  color: #54acac;
  display: block;
  margin: 0 auto;
}

.search-button:hover {
  background-color: #db95a5;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #f6fafa;
  display: block;
  margin: 0 auto;
  transition: 200ms ease-in-out;
}

.city {
  font-size: 30px;
  text-align: center;
}

.temperature-today {
  font-size: 55px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.celcius {
  color: #db95a5;
  position: relative;
  font-size: 20px;
  top: -25px;
}

.icon-today {
  display: block;
  font-size: 60px;
  margin: -25px auto;
}

.weather-today {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.details-today {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
}

hr {
  background-color: #db95a5;
  border: 2px solid #db95a5;
}

.weather-forecast {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.weather-forecast-day:hover {
  color: #db95a5;
  font-size: 24px;
  transition: 200ms ease-in-out;
}

.coder {
  color: #54acac;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

a {
  color: #b8c0c0;
  text-decoration: none;
}

a:hover {
  color: #db95a5;
  transition: 200ms ease-in-out;
}

a:focus {
  color: #db95a5;
  font-weight: bold;
}
